# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Environments
.env
.venv
.flaskenv

# Jupyter Notebooks
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# Model and Data (Optional - usually better to host elsewhere for very large files)
# shipping_delay_model.pkl
# Nassau Candy Distributor.csv
